.sidebar{
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--second-color);
    transition: width .2s linear;
}
.sideBarHidden{
    width: 4.37rem;
}
.logoSection{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 2rem;
}