.sidebar{
    width: var(--sidebar-width);
    height: 100vh;
    background-color: var(--second-color);
    transition: width .2s linear;
}
.logoSection{
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.items{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0 2rem;
}
@media(max-width: 1000px){
    .sidebar{
        position: absolute;
        left: calc(var(--sidebar-width) * -1);
        transition: left .3s ease;
        top: var(--header-height);
    }
    .sideBarHidden{
        left: 0;
    }
}